/* line 23, ../../compass_files/sass/style.scss */
html {
    height: 100%;
}

/* line 27, ../../compass_files/sass/style.scss */
body {
    height: 100%;
    margin: 0;
}
/* line 25, ../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body .showgrid {
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 1000 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(4%, rgba(100, 100, 225, 0.25)), color-stop(4%, rgba(0, 0, 0, 0)), color-stop(5%, rgba(0, 0, 0, 0)), color-stop(5%, rgba(100, 100, 225, 0.25)), color-stop(9%, rgba(100, 100, 225, 0.25)), color-stop(9%, rgba(0, 0, 0, 0)), color-stop(10%, rgba(0, 0, 0, 0)), color-stop(10%, rgba(100, 100, 225, 0.25)), color-stop(14.0%, rgba(100, 100, 225, 0.25)), color-stop(14.0%, rgba(0, 0, 0, 0)), color-stop(15%, rgba(0, 0, 0, 0)), color-stop(15%, rgba(100, 100, 225, 0.25)), color-stop(19%, rgba(100, 100, 225, 0.25)), color-stop(19%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(100, 100, 225, 0.25)), color-stop(24%, rgba(100, 100, 225, 0.25)), color-stop(24%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(100, 100, 225, 0.25)), color-stop(29.0%, rgba(100, 100, 225, 0.25)), color-stop(29.0%, rgba(0, 0, 0, 0)), color-stop(30%, rgba(0, 0, 0, 0)), color-stop(30%, rgba(100, 100, 225, 0.25)), color-stop(34%, rgba(100, 100, 225, 0.25)), color-stop(34%, rgba(0, 0, 0, 0)), color-stop(35%, rgba(0, 0, 0, 0)), color-stop(35%, rgba(100, 100, 225, 0.25)), color-stop(39%, rgba(100, 100, 225, 0.25)), color-stop(39%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(100, 100, 225, 0.25)), color-stop(44%, rgba(100, 100, 225, 0.25)), color-stop(44%, rgba(0, 0, 0, 0)), color-stop(45%, rgba(0, 0, 0, 0)), color-stop(45%, rgba(100, 100, 225, 0.25)), color-stop(49%, rgba(100, 100, 225, 0.25)), color-stop(49%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(54%, rgba(100, 100, 225, 0.25)), color-stop(54%, rgba(0, 0, 0, 0)), color-stop(55.0%, rgba(0, 0, 0, 0)), color-stop(55.0%, rgba(100, 100, 225, 0.25)), color-stop(59%, rgba(100, 100, 225, 0.25)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(100, 100, 225, 0.25)), color-stop(64%, rgba(100, 100, 225, 0.25)), color-stop(64%, rgba(0, 0, 0, 0)), color-stop(65%, rgba(0, 0, 0, 0)), color-stop(65%, rgba(100, 100, 225, 0.25)), color-stop(69%, rgba(100, 100, 225, 0.25)), color-stop(69%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(100, 100, 225, 0.25)), color-stop(74%, rgba(100, 100, 225, 0.25)), color-stop(74%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(100, 100, 225, 0.25)), color-stop(79%, rgba(100, 100, 225, 0.25)), color-stop(79%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(100, 100, 225, 0.25)), color-stop(84%, rgba(100, 100, 225, 0.25)), color-stop(84%, rgba(0, 0, 0, 0)), color-stop(85%, rgba(0, 0, 0, 0)), color-stop(85%, rgba(100, 100, 225, 0.25)), color-stop(89%, rgba(100, 100, 225, 0.25)), color-stop(89%, rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0)), color-stop(90%, rgba(100, 100, 225, 0.25)), color-stop(94%, rgba(100, 100, 225, 0.25)), color-stop(94%, rgba(0, 0, 0, 0)), color-stop(95%, rgba(0, 0, 0, 0)), color-stop(95%, rgba(100, 100, 225, 0.25)), color-stop(99%, rgba(100, 100, 225, 0.25)), color-stop(99%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 40px, rgba(0, 0, 0, 0) 40px, rgba(0, 0, 0, 0) 50px, rgba(100, 100, 225, 0.25) 50px, rgba(100, 100, 225, 0.25) 90px, rgba(0, 0, 0, 0) 90px, rgba(0, 0, 0, 0) 100px, rgba(100, 100, 225, 0.25) 100px, rgba(100, 100, 225, 0.25) 140px, rgba(0, 0, 0, 0) 140px, rgba(0, 0, 0, 0) 150px, rgba(100, 100, 225, 0.25) 150px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 240px, rgba(0, 0, 0, 0) 240px, rgba(0, 0, 0, 0) 250px, rgba(100, 100, 225, 0.25) 250px, rgba(100, 100, 225, 0.25) 290px, rgba(0, 0, 0, 0) 290px, rgba(0, 0, 0, 0) 300px, rgba(100, 100, 225, 0.25) 300px, rgba(100, 100, 225, 0.25) 340px, rgba(0, 0, 0, 0) 340px, rgba(0, 0, 0, 0) 350px, rgba(100, 100, 225, 0.25) 350px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 440px, rgba(0, 0, 0, 0) 440px, rgba(0, 0, 0, 0) 450px, rgba(100, 100, 225, 0.25) 450px, rgba(100, 100, 225, 0.25) 490px, rgba(0, 0, 0, 0) 490px, rgba(0, 0, 0, 0) 500px, rgba(100, 100, 225, 0.25) 500px, rgba(100, 100, 225, 0.25) 540px, rgba(0, 0, 0, 0) 540px, rgba(0, 0, 0, 0) 550px, rgba(100, 100, 225, 0.25) 550px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 640px, rgba(0, 0, 0, 0) 640px, rgba(0, 0, 0, 0) 650px, rgba(100, 100, 225, 0.25) 650px, rgba(100, 100, 225, 0.25) 690px, rgba(0, 0, 0, 0) 690px, rgba(0, 0, 0, 0) 700px, rgba(100, 100, 225, 0.25) 700px, rgba(100, 100, 225, 0.25) 740px, rgba(0, 0, 0, 0) 740px, rgba(0, 0, 0, 0) 750px, rgba(100, 100, 225, 0.25) 750px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 840px, rgba(0, 0, 0, 0) 840px, rgba(0, 0, 0, 0) 850px, rgba(100, 100, 225, 0.25) 850px, rgba(100, 100, 225, 0.25) 890px, rgba(0, 0, 0, 0) 890px, rgba(0, 0, 0, 0) 900px, rgba(100, 100, 225, 0.25) 900px, rgba(100, 100, 225, 0.25) 940px, rgba(0, 0, 0, 0) 940px, rgba(0, 0, 0, 0) 950px, rgba(100, 100, 225, 0.25) 950px, rgba(100, 100, 225, 0.25) 990px, rgba(0, 0, 0, 0) 990px, rgba(0, 0, 0, 0) 1000px);
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 40px, rgba(0, 0, 0, 0) 40px, rgba(0, 0, 0, 0) 50px, rgba(100, 100, 225, 0.25) 50px, rgba(100, 100, 225, 0.25) 90px, rgba(0, 0, 0, 0) 90px, rgba(0, 0, 0, 0) 100px, rgba(100, 100, 225, 0.25) 100px, rgba(100, 100, 225, 0.25) 140px, rgba(0, 0, 0, 0) 140px, rgba(0, 0, 0, 0) 150px, rgba(100, 100, 225, 0.25) 150px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 240px, rgba(0, 0, 0, 0) 240px, rgba(0, 0, 0, 0) 250px, rgba(100, 100, 225, 0.25) 250px, rgba(100, 100, 225, 0.25) 290px, rgba(0, 0, 0, 0) 290px, rgba(0, 0, 0, 0) 300px, rgba(100, 100, 225, 0.25) 300px, rgba(100, 100, 225, 0.25) 340px, rgba(0, 0, 0, 0) 340px, rgba(0, 0, 0, 0) 350px, rgba(100, 100, 225, 0.25) 350px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 440px, rgba(0, 0, 0, 0) 440px, rgba(0, 0, 0, 0) 450px, rgba(100, 100, 225, 0.25) 450px, rgba(100, 100, 225, 0.25) 490px, rgba(0, 0, 0, 0) 490px, rgba(0, 0, 0, 0) 500px, rgba(100, 100, 225, 0.25) 500px, rgba(100, 100, 225, 0.25) 540px, rgba(0, 0, 0, 0) 540px, rgba(0, 0, 0, 0) 550px, rgba(100, 100, 225, 0.25) 550px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 640px, rgba(0, 0, 0, 0) 640px, rgba(0, 0, 0, 0) 650px, rgba(100, 100, 225, 0.25) 650px, rgba(100, 100, 225, 0.25) 690px, rgba(0, 0, 0, 0) 690px, rgba(0, 0, 0, 0) 700px, rgba(100, 100, 225, 0.25) 700px, rgba(100, 100, 225, 0.25) 740px, rgba(0, 0, 0, 0) 740px, rgba(0, 0, 0, 0) 750px, rgba(100, 100, 225, 0.25) 750px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 840px, rgba(0, 0, 0, 0) 840px, rgba(0, 0, 0, 0) 850px, rgba(100, 100, 225, 0.25) 850px, rgba(100, 100, 225, 0.25) 890px, rgba(0, 0, 0, 0) 890px, rgba(0, 0, 0, 0) 900px, rgba(100, 100, 225, 0.25) 900px, rgba(100, 100, 225, 0.25) 940px, rgba(0, 0, 0, 0) 940px, rgba(0, 0, 0, 0) 950px, rgba(100, 100, 225, 0.25) 950px, rgba(100, 100, 225, 0.25) 990px, rgba(0, 0, 0, 0) 990px, rgba(0, 0, 0, 0) 1000px);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 40px, rgba(0, 0, 0, 0) 40px, rgba(0, 0, 0, 0) 50px, rgba(100, 100, 225, 0.25) 50px, rgba(100, 100, 225, 0.25) 90px, rgba(0, 0, 0, 0) 90px, rgba(0, 0, 0, 0) 100px, rgba(100, 100, 225, 0.25) 100px, rgba(100, 100, 225, 0.25) 140px, rgba(0, 0, 0, 0) 140px, rgba(0, 0, 0, 0) 150px, rgba(100, 100, 225, 0.25) 150px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 240px, rgba(0, 0, 0, 0) 240px, rgba(0, 0, 0, 0) 250px, rgba(100, 100, 225, 0.25) 250px, rgba(100, 100, 225, 0.25) 290px, rgba(0, 0, 0, 0) 290px, rgba(0, 0, 0, 0) 300px, rgba(100, 100, 225, 0.25) 300px, rgba(100, 100, 225, 0.25) 340px, rgba(0, 0, 0, 0) 340px, rgba(0, 0, 0, 0) 350px, rgba(100, 100, 225, 0.25) 350px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 440px, rgba(0, 0, 0, 0) 440px, rgba(0, 0, 0, 0) 450px, rgba(100, 100, 225, 0.25) 450px, rgba(100, 100, 225, 0.25) 490px, rgba(0, 0, 0, 0) 490px, rgba(0, 0, 0, 0) 500px, rgba(100, 100, 225, 0.25) 500px, rgba(100, 100, 225, 0.25) 540px, rgba(0, 0, 0, 0) 540px, rgba(0, 0, 0, 0) 550px, rgba(100, 100, 225, 0.25) 550px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 640px, rgba(0, 0, 0, 0) 640px, rgba(0, 0, 0, 0) 650px, rgba(100, 100, 225, 0.25) 650px, rgba(100, 100, 225, 0.25) 690px, rgba(0, 0, 0, 0) 690px, rgba(0, 0, 0, 0) 700px, rgba(100, 100, 225, 0.25) 700px, rgba(100, 100, 225, 0.25) 740px, rgba(0, 0, 0, 0) 740px, rgba(0, 0, 0, 0) 750px, rgba(100, 100, 225, 0.25) 750px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 840px, rgba(0, 0, 0, 0) 840px, rgba(0, 0, 0, 0) 850px, rgba(100, 100, 225, 0.25) 850px, rgba(100, 100, 225, 0.25) 890px, rgba(0, 0, 0, 0) 890px, rgba(0, 0, 0, 0) 900px, rgba(100, 100, 225, 0.25) 900px, rgba(100, 100, 225, 0.25) 940px, rgba(0, 0, 0, 0) 940px, rgba(0, 0, 0, 0) 950px, rgba(100, 100, 225, 0.25) 950px, rgba(100, 100, 225, 0.25) 990px, rgba(0, 0, 0, 0) 990px, rgba(0, 0, 0, 0) 1000px);
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 40px, rgba(0, 0, 0, 0) 40px, rgba(0, 0, 0, 0) 50px, rgba(100, 100, 225, 0.25) 50px, rgba(100, 100, 225, 0.25) 90px, rgba(0, 0, 0, 0) 90px, rgba(0, 0, 0, 0) 100px, rgba(100, 100, 225, 0.25) 100px, rgba(100, 100, 225, 0.25) 140px, rgba(0, 0, 0, 0) 140px, rgba(0, 0, 0, 0) 150px, rgba(100, 100, 225, 0.25) 150px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 240px, rgba(0, 0, 0, 0) 240px, rgba(0, 0, 0, 0) 250px, rgba(100, 100, 225, 0.25) 250px, rgba(100, 100, 225, 0.25) 290px, rgba(0, 0, 0, 0) 290px, rgba(0, 0, 0, 0) 300px, rgba(100, 100, 225, 0.25) 300px, rgba(100, 100, 225, 0.25) 340px, rgba(0, 0, 0, 0) 340px, rgba(0, 0, 0, 0) 350px, rgba(100, 100, 225, 0.25) 350px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 440px, rgba(0, 0, 0, 0) 440px, rgba(0, 0, 0, 0) 450px, rgba(100, 100, 225, 0.25) 450px, rgba(100, 100, 225, 0.25) 490px, rgba(0, 0, 0, 0) 490px, rgba(0, 0, 0, 0) 500px, rgba(100, 100, 225, 0.25) 500px, rgba(100, 100, 225, 0.25) 540px, rgba(0, 0, 0, 0) 540px, rgba(0, 0, 0, 0) 550px, rgba(100, 100, 225, 0.25) 550px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 640px, rgba(0, 0, 0, 0) 640px, rgba(0, 0, 0, 0) 650px, rgba(100, 100, 225, 0.25) 650px, rgba(100, 100, 225, 0.25) 690px, rgba(0, 0, 0, 0) 690px, rgba(0, 0, 0, 0) 700px, rgba(100, 100, 225, 0.25) 700px, rgba(100, 100, 225, 0.25) 740px, rgba(0, 0, 0, 0) 740px, rgba(0, 0, 0, 0) 750px, rgba(100, 100, 225, 0.25) 750px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 840px, rgba(0, 0, 0, 0) 840px, rgba(0, 0, 0, 0) 850px, rgba(100, 100, 225, 0.25) 850px, rgba(100, 100, 225, 0.25) 890px, rgba(0, 0, 0, 0) 890px, rgba(0, 0, 0, 0) 900px, rgba(100, 100, 225, 0.25) 900px, rgba(100, 100, 225, 0.25) 940px, rgba(0, 0, 0, 0) 940px, rgba(0, 0, 0, 0) 950px, rgba(100, 100, 225, 0.25) 950px, rgba(100, 100, 225, 0.25) 990px, rgba(0, 0, 0, 0) 990px, rgba(0, 0, 0, 0) 1000px);
    -webkit-background-size: 100% 18px, auto;
    -moz-background-size: 100% 18px, auto;
    -o-background-size: 100% 18px, auto;
    background-size: 100% 18px, auto;
    background-position: left top;
}

/* line 34, ../../compass_files/sass/style.scss */

body div#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

/* line 42, ../../compass_files/sass/style.scss */
body #content {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
    font-family: "Arial";
}
/* line 48, ../../compass_files/sass/style.scss */
body section {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 990px;
    float: left;
    padding: 0px 20px;
}
/* line 147, ../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body section {
    overflow-x: hidden;
}
/* line 52, ../../compass_files/sass/style.scss */
body section a.readmore {
    float: right;
    font-size: 7pt;
    text-align: right;
    margin: 10px;
}
/* line 61, ../../compass_files/sass/style.scss */
body section.box {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 323.33333px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 0px;
}
/* line 147, ../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body section.box {
    overflow-x: hidden;
}
/* line 71, ../../compass_files/sass/style.scss */
body section.box h3 {
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: #0066cc;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(70%, #0066cc), color-stop(100%, #ffffff));
    background-image: -webkit-linear-gradient(#0066cc 70%, #ffffff);
    background-image: -moz-linear-gradient(#0066cc 70%, #ffffff);
    background-image: -o-linear-gradient(#0066cc 70%, #ffffff);
    background-image: linear-gradient(#0066cc 70%, #ffffff);
    color: white;
    font-weight: bold;
    padding: 10px 5px;
}
/* line 81, ../../compass_files/sass/style.scss */
body section.box p {
    padding: 10px;
}
/* line 85, ../../compass_files/sass/style.scss */
body section.box.last {
    margin-right: 0;
}
/* line 91, ../../compass_files/sass/style.scss */
body nav {
    font-family: Charcoal, sans-serif;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    background-color: #ff5500;
    display: block;
    padding: 0px;
    margin: 0 auto 20px;
    position: relative;
    font-weight: bold;
    z-index: 10;
}
/* line 106, ../../compass_files/sass/style.scss */
body nav ul {
    padding: 0;
    margin: 0;
}
/* line 110, ../../compass_files/sass/style.scss */
body nav ul li {
    position: relative;
    float: left;
    list-style-type: none;
    text-align: left;
    margin: 0px 15px 0px 15px;
    min-width: 120px;
}
/* line 118, ../../compass_files/sass/style.scss */
body nav ul li a {
    display: block;
    padding: 8px 8px;
    text-decoration: none;
    text-shadow: #6374AB -2px 2px 2px;
    color: white;
}
/* line 126, ../../compass_files/sass/style.scss */
body nav ul li a:hover {
    text-shadow: #FFF -2px -2px 4px,  #FFF 2px 2px 4px,  #FFF -2px 2px 5px,  #FFF 2px -2px 5px;
}
/* line 133, ../../compass_files/sass/style.scss */
body nav ul li a:focus {
    outline: none;
    text-decoration: underline;
}
/* line 138, ../../compass_files/sass/style.scss */
body nav ul li:first-child a {
    border-left: none;
}
/* line 142, ../../compass_files/sass/style.scss */
body nav ul li li.last a {
    border-right: none;
}
/* line 147, ../../compass_files/sass/style.scss */
body nav ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* line 155, ../../compass_files/sass/style.scss */
body nav ul a span {
    display: block;
    float: right;
    margin-left: 5px;
}
/* line 161, ../../compass_files/sass/style.scss */
body nav ul ul {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
}
/* line 168, ../../compass_files/sass/style.scss */
body nav ul ul li {
    float: none;
    margin: 0px;
    padding: 0px;
}
/* line 174, ../../compass_files/sass/style.scss */
body nav ul ul a {
    padding: 5px 10px;
    font-size: 11px;
}
/* line 178, ../../compass_files/sass/style.scss */
body nav ul ul a ul a:hover {
    text-shadow: #FFF -2px -2px 4px,  #FFF 2px 2px 4px, #FFF -2px 2px 5px, #FFF 2px -2px 5px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
/* line 185, ../../compass_files/sass/style.scss */
body nav ul ul a ul, body nav ul ul a li.last a {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
/* line 193, ../../compass_files/sass/style.scss */
body div#gap {
    height: 60px;
}
/* line 197, ../../compass_files/sass/style.scss */
body footer {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    height: 30px;
    color: white;
    background-color: #ff5500;
    font-family: Charcoal, sans-serif;
    padding: 10px 5px;
}
/* line 207, ../../compass_files/sass/style.scss */
body footer p {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 790px;
    text-align: center;
    padding: 0px;
}
/* line 147, ../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body footer p {
    overflow-x: hidden;
}

/* line 220, ../../compass_files/sass/style.scss */
div#social_media {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 190px;
    margin-right: 0;
    text-align: center;
    padding: 0px;
}
/* line 147, ../../../../../../.gem/ruby/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html div#social_media {
    overflow-x: hidden;
}
/* line 226, ../../compass_files/sass/style.scss */
div#social_media a {
    text-decoration: none;
    margin: 3px 0px;
}
/* line 230, ../../compass_files/sass/style.scss */
div#social_media a img {
    width: 25px;
    height: 25px;
}
